body{
  margin: 0px;
  padding: 0px;
  font-family: 'Roboto', sans-serif;
  background-color: white;
}
/* navigator */
.navbar {
    -webkit-box-shadow: 0 8px 6px -6px #999;
    -moz-box-shadow: 0 8px 6px -6px #999;
    box-shadow: 0 1px 6px 0px gainsboro;

    /* the rest of your styling */
}

/* navigator animation */
#header, #logo{
    -webkit-transition: all 0.3s ease;
 	transition: all 0.3s ease;
}
/* navigator animation ends */

.bg-light{
    background-color: white !important;
}
.nav-link{
  color: black !important;
  font-weight: 500;
  font-size: 1.2em;
  padding-left: 20px !important;
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}
.nav-link:hover{
  color: #de7d2e !important;
}
.avdonscreen{
  color: #de7d2e !important;
  /* text-decoration: underline !important;
  text-decoration-color: #de7d2e;
  text-decoration-thickness: 1.5px; */
  font-weight: bold;
}
.container{
  width: 100%;

}
/* navigator ends */

/* carousel */
.carousel-item {
  height: 80vh;
  min-height: 350px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
/* Carousel ends */
@media (min-width:992px){
    .avdheadingLora {
        text-align: center;
        padding-top: 40px;
        padding-bottom: 40px;
        /* font-family: 'Times New Roman', Times, serif; */
        font-family: 'Lora', serif;
        font-size: 7vh;
        letter-spacing: 2px;
    }
}
@media (max-width:992px){
    .avdheadingLora {
        text-align: center;
        padding-top: 30px;
        padding-bottom: 40px;
        /* font-family: 'Times New Roman', Times, serif; */
        font-family: 'Lora', serif;
        font-size: 5vh;
        letter-spacing: 2px;
    }
}

.avdWhyPackaging{
font-size: 2.8vh;
}

.icons {
    font-weight: bold;
    color: #de7d2e;
    font-size: 50px;
}

/* Sustainabilty */
.avdSustain{
    /* margin: 30px; */
    /* margin-right: 50px; */
    margin-top: 30px;
    margin-bottom: 20px;
}
hr.solid {
    border-top: 0.5px solid #bbb;
    width: 70%;
    /* margin-left: 50px; */
  }
/* sustainability ends */

/* products */
.AVD-product-card{
    padding:10px;
    /* height: 50%; */
  }
  .AVD-products-CTA{
    background: orange;
    color:white;
    margin-bottom: 0px;
    width:100%;
    height: auto;
    border:none;
  }
  .AVD-products-CTA:hover{
    background: orange;
    color:white;
  }
  
  .card{
    padding-bottom: 0px;
    height: auto;
  }
  .card-title{
    color:orange;
    height: 70px;
    text-shadow: 1px 1px black;
    margin-top: 10px;
    font-size: 1.5em;
    letter-spacing: 3px;
    text-transform: uppercase;
  }
  .card-text{
    height: 80px;
  }
  .AVD-products-CTA span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .AVD-products-CTA span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .AVD-products-CTA:hover span {
    padding-right: 25px;
  }
  
  .AVD-products-CTA:hover span:after {
    opacity: 1;
    right: 0;
  }

.hover {
    /*height: 110%;*/
    overflow: hidden;
    position: relative;
    padding: 150px;
    /* float: right; */
    margin-left: 25px;
    margin-right: 20px;
    height: 150px;
    width: 150px;
  }
  
  .hover-overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 90;
    transition: all 0.4s;
  }
  
  .hover img {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: all 0.3s;
  }
  
  .hover-content {
    position: relative;
    z-index: 99;
  }
  
  .hover-1 img {
    width: 105%;
    position: absolute;
    top: 0;
    left: -5%;
    transition: all 0.3s;
    float:right;
  }
  
  .hover-1-content {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 99;
    transition: all 0.4s;
  }
  
  .hover-1 .hover-overlay {
    background: rgba(0, 0, 0, 0.5);
  }
  
  .hover-1-description {
    transform: translateY(0.5rem);
    transition: all 0.4s;
    opacity: 0;
  }
  
  .hover-1:hover .hover-1-content {
    bottom: 2rem;
  }
  
  .hover-1:hover .hover-1-description {
    opacity: 1;
    transform: none;
  }
  
  .hover-1:hover img {
    left: 0;
  }
  
  .hover-1:hover .hover-overlay {
    opacity: 0.8;
  }
  /* products ends */

/*CSS FOR OUR CLIENTS*/
.slick-slide {
    margin: 0px 20px;
}

.slick-slide img {
    width: 100%;
}

.slick-slider
{
    position: relative;
    display: block;
    background: white;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
            user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list
{
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;
    display: block;
}
.slick-track:before,
.slick-track:after
{
    display: table;
    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;
    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: block;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;
    height: auto;
    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}
/*ENDS*/

/*Footer*/
.AVD-footer-center{
    border-radius: 10px;
    background: #de7d2e;
    height: auto;
    width: 100%;
    min-height: 80px;
    padding: 10px;
  }
  .AVD-footer-center-back{
    background: black;
    width:100%;
    height: 150px;
    margin-top:-40px;
    padding-top: 75px;
    color:white;
    z-index: -1;
  }
  .AVD-footer-label{
    text-align: center;
    justify-content: center;
    margin-bottom: 10px;
    margin-top: 10px;
    font-size: 1.25em;
  }
  .AVD-footer-label a,.AVD-footer-label a:active{
  text-decoration: none;
  color:white;
  }
  .AVD-footer-label a:hover{
    /*background: black;*/
    /*text-decoration: underline;*/
  }
  .AVD-footer-icon{
    display: inline-flex;
    vertical-align: middle;
  }
  .AVD-footer-icon-linkedin{
   }
   html{
  scroll-behavior: smooth;
}
  .AVD-footer-icon-top{
    display: none; 
    position: fixed;
    bottom: 20px; 
    right: 30px; 
    width:40px;
    height: 40px;
    background:#de7d2e;
    float: right;
    border-radius: 40px;
  }
  .AVD-footer-copyright{
    font-size: 0.8em;
  }
  /* Footer ends */

  /* Linkedin Icon */
  
.icon {
	position:relative;
	text-align:center;
	width:0px;
	height:0px;
	padding:20px;
	border-top-right-radius: 	20px;
	border-top-left-radius: 	20px;
	border-bottom-right-radius: 20px;
	border-bottom-left-radius: 	20px; 
	-moz-border-radius: 		20px 20px 20px 20px;
	-webkit-border-radius: 		20px 20px 20px 20px;
	-khtml-border-radius: 		20px 20px 20px 20px; 	
	color:#FFFFFF;
}
.icon i {
	font-size:20px;
	position:absolute;
	left:9px;
	top:10px;
}
.icon.social {
	float:left;
	margin:0 5px 0 0;
	cursor:pointer;
	background:#6d6e71 ;
	color:#262626;
	transition: 0.5s;
	-moz-transition: 0.5s;
	-webkit-transition: 0.5s;
	-o-transition: 0.5s; 	
}
.icon.social:hover {
	background:#262626 ;
	color:#6d6e71;
	transition: 0.5s;
	-moz-transition: 0.5s;
	-webkit-transition: 0.5s;
	-o-transition: 0.5s;
	-webkit-filter:	drop-shadow(0 1px 10px rgba(0,0,0,.8));
	-moz-filter: 	drop-shadow(0 1px 10px rgba(0,0,0,.8));
	-ms-filter: 		drop-shadow(0 1px 10px rgba(0,0,0,.8));
	-o-filter: 		drop-shadow(0 1px 10px rgba(0,0,0,.8));
	filter: 			drop-shadow(0 1px 10px rgba(0,0,0,.8));	 	
}
.icon.social.in i {
	left:11px;
}

  /* Linkedin Icon ends */
